@model CombineSample.Models.AddEmployee
@{
    Layout=null;
     ViewData["Title"] = "ManageEmployee";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>SignUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalDetails.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="position-sticky top-0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-pils" id="pills-tab" role="tablist" style="background-color:purple">

            <div class="container-fluid" style="background-color:purple">
                <a class="navbar-brand nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Personal Details</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" >
                            <a class="nav-link  text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a> </button>
                        </li>
                         <li class="nav-item" >
                            <a class="nav-link  text-white fw-bold" asp-area="" asp-controller="Manager" asp-action="EmployeeList">Employee List</a> </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="MManager" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>
</body>

<div class="container">
    <div class="row shadow rounded">
        
        <div class="col-sm-6 col-mb-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                    <h2 class="text-pink text-center d-flex justify-content-right fst-italic"><h3><strong>MANAGE EMPLOYEE</strong></h3></h2>
                    <span class="fst-italic text-muted">Manage Employee by Update or Remove </span>
            </div>
            <form method="post" asp-action="ManageEmployee" asp-area="Manager">
            <input type="hidden" asp-for="employeeId">
           <div class="card">
            <div class="card-body">
        <h5 class="card-title">@Model.employeeName</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.employmentStatus</h6>

            <ul class="list-group">
            <li class="list-group-item">
                <strong>Employee ID:</strong> <span>@Model.employeeId</span>
            </li> 
            @if(@Model.employeeEmail!="Not Assigned"&& @Model.employeeEmail!=null){
                            <li class="list-group-item">
                <strong>Employee E-mail:</strong> <span>@Model.employeeEmail</span>
            </li>
            }
            @if( @Model.employeeDOB!=null){
                <li class="list-group-item">
                <strong>Employee DOB:</strong> <span>@Model.employeeDOB</span>
            </li>
            }
            @if(@Model.employeeMobile!="Not Assigned" && @Model.employeeMobile!=null){
                            <li class="list-group-item">
                <strong>Contact Number:</strong> <span>@Model.employeeMobile</span>
            </li>
            }
                        @if(Model.employeeAge != "Not Assigned" && Model.employeeAge != null)
            {
                <li class="list-group-item">
                    <strong>Employee Age:</strong> <span>@Model.employeeAge</span>
                </li>
            }
            
            @if(Model.EmployeeMartialStatus != "Not Assigned" && Model.EmployeeMartialStatus != null)
            {
                <li class="list-group-item">
                    <strong>Employee Martial Status:</strong> <span>@Model.EmployeeMartialStatus</span>
                </li>
            }
            
            @if(Model.employmentStatus != "Not Assigned" && Model.employmentStatus != null)
            {
                <li class="list-group-item">
                    <strong>Employee Working Status:</strong> <span>@Model.employmentStatus</span>
                </li>
            }
            
            @if(Model.employeeLocation != "Not Assigned" && Model.employeeLocation != null)
            {
                <li class="list-group-item">
                    <strong>Employee Location:</strong> <span>@Model.employeeLocation</span>
                </li>
            }

            </ul>
            </div>
            

                    </div>
                    <ul class="list-group">
                        <li class="list-group-item  custom-list-item d-flex justify-content-between align-items-center shawdow rounded">
                            <a class="nav-link text-white text-center" asp-route-id="@Model.employeeId" asp-controller="Manager" asp-action="UpdateEmployee">Update Employee Details</a>
                        </li>
                        <br>
                        <li class="list-group-item  custom-list-item d-flex justify-content-between align-items-center shawdow rounded">
                            <a class="nav-link text-white text-center" asp-route-id="@Model.employeeId" asp-controller="Employee" asp-action="DeleteEmployee">Delete Employee</a>
                        </li>
                    </ul>
                    <style>
                        .custom-list-item {
                        width: 350px; 
                        background-color: black;
                        color: white;
                    </style>

             <p class="fw-light text-reset"> Click here to go back to <a asp-action="EmployeeList" asp-controller="Manager">Employee List</a></p>
        </form>
    </div>
</div>
</div>
<br>
<div>
    <footer class="border-top postion-sticky text-white p-3">
        <div class="container ">
            <div class="row">
                
            <h6 class="text-center">© Copyrights 2023 Aspire Systems</h6>
        </div>
      </div>
</footer>
</div>
        